1 VERSIONINFO
FILEVERSION 1,2,5,3
PRODUCTVERSION 1,2,5,3
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName", "Institute for Research and Development on Advanced Radiation Technologies (radART)"
      VALUE "FileDescription", "N-way 2D/3D Registration (REG23)"
      VALUE "FileVersion", "1.2.5.3"
      VALUE "InternalName", "REG23"
      VALUE "LegalCopyright", "Copyright (c) 2010-2011 radART"
      VALUE "OriginalFilename", "reg23.exe"
      VALUE "ProductName", "REG23"
      VALUE "ProductVersion", "'3-Fingers' (1.2.5.3)"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1252 
  END
END

IDI_ICON1               ICON          DISCARDABLE     "reg23-icon-64x64.ico"

