1 VERSIONINFO
FILEVERSION 1,2,5,1
PRODUCTVERSION 1,2,5,1
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName", "Institute for Research and Development on Advanced Radiation Technologies (radART)"
      VALUE "FileDescription", "Universal Open N-way 2D/3D Registration (UNO-2-3-REG)"
      VALUE "FileVersion", "1.2.5.1"
      VALUE "InternalName", "UNO-2-3-REG"
      VALUE "LegalCopyright", "Copyright (c) 2010-2011 radART"
      VALUE "OriginalFilename", "uno23reg.exe"
      VALUE "ProductName", "UNO-2-3-REG"
      VALUE "ProductVersion", "'3-Fingers' (1.2.5.1)"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1252 
  END
END

IDI_ICON1               ICON          DISCARDABLE     "uno-2-3-reg-icon-64x64.ico"

