# Example mabs file

[ATLAS-SELECTION]
enable_atlas_selection=true
# atlas_selection criteria can be: nmi, nmi-post, nmi-ratio, random, precomputed
atlas_selection_criteria=nmi
selection_reg_parms=parms_nmi_ratio.txt
roi_mask=mask.mha
mi_percent_threshold=0.60
atlases_from_ranking=4
mi_histogram_bins=20
lower_mi_value_subject=-200
upper_mi_value_subject=200
lower_mi_value_atlas=-400
upper_mi_value_atlas=400
min_random_atlases=4
max_random_atlases=12
precomputed_ranking=precomputed_raking.txt

[TRAINING]
atlas_dir=/my/atlas/dir
training_dir=/my/atlas/dir

[REGISTRATION]
registration_config=/my/registration/file.cfg

[SUBJECT]
image=/my/subject01/image
structs=/my/subject01/structures

[SUBJECT]
image=/my/subject02/image
structs=/my/subject02/structures

[SUBJECT]
image=/my/subject03/image
structs=/my/subject03/structures

[SUBJECT]
image=/my/subject04/image
structs=/my/subject04/structures

[SUBJECT]
image=/my/subject05/image
structs=/my/subject05/structures

[LABELING]
input=/my/input/image
output=/my/output/structures
