# Example mabs file

[ATLASES-SELECTION]
enable_atlases_selection=true
roi_mask=mask.mha
mi_percent_thershold=0.60
mi_histogram_bins=20
lower_mi_value=-200
upper_mi_value=200

[TRAINING]
atlas_dir=/my/atlas/dir
training_dir=/my/atlas/dir

[REGISTRATION]
registration_config=/my/registration/file.cfg

[SUBJECT]
image=/my/subject01/image
structs=/my/subject01/structures

[SUBJECT]
image=/my/subject02/image
structs=/my/subject02/structures

[SUBJECT]
image=/my/subject03/image
structs=/my/subject03/structures

[SUBJECT]
image=/my/subject04/image
structs=/my/subject04/structures

[SUBJECT]
image=/my/subject05/image
structs=/my/subject05/structures

[LABELING]
input=/my/input/image
output=/my/output/structures
